body{
    background-color: #252B42;
    color: white;
}

.main-text{
    color: aqua;
    width: 50%;
    margin-left: 10rem;
    margin-top: 9rem;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}
.main-text h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.3rem;
    color: aliceblue;
    margin-bottom: 1rem;
}
.main-cont{
    display: flex;
}
.main-cont  img{
  
    width: 30%;
   
}

.mid{
    margin-top: 2rem;
    background-color: white;
}
.profile{
    background-color:white;
}
.responsive {
    width: 80%;
    height: auto;
  }