<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'syllabus' %}">Syllabus</a>
    <center>
    <h1>Find Syllabus</h1>
    <hr/>
    <form method="GET">
         
        <select name="branch">
            <option selected disabled=true>--Select Branch</option>
            {% for b in sbranch %}
            <option>{{b.branch}}</option>
            {% endfor %}
           
        </select>
        <select name="sem">
            <option selected disabled=true>--Select Sem</option>
            {% for s in ssem %}
            <option>{{s.sem}}</option>
            {% endfor %}
           
        </select>
      
        <input type="submit" value="Search"/>
        <table border="2">
            <tr>
               
                <th>Branch</th>
                <th>Sem</th>
                <th>Download</th>

            </tr>
            {% for result1 in data3 %}
            <tr>
                <td>{{result1.branch}}</td>
                <td>{{result1.sem}}</td>
                <td><a href="{{result1.syllabus_pdf.url}}">DownLoad</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    </center>
</body>
</html>