*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    
    margin: 100px auto;
    max-width: 1100px;
}
.wrapper nav{
    margin-left: 17%;
}
nav.collect{
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
}
nav.collect .items{
    padding: 7px 25px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
nav.collect .active,
nav.collect .items:hover{
    background: rgba(0,0,0,.7);
    color: white;
}